../.project
../.settings/

.apt_generated/
.apt_generated_tests/
!assets/
*.bak
/catalina/
.checkstyle
.classpath
dependency-reduced-pom.xml
.factorypath
.~lock.*#
logs/
nbactions.xml
nb-configuration.xml
.pmd
.pmdruleset.xml
pom.xml.versionsBackup
.project
.settings/
/src/site/resources/seq-*.png
/src/site/resources/seq-*.svg
*.swp
/target/
tokei
.vscode/
war/

